<h1> Uncity Me front page </h1> 

<%= link_to 'New park', new_park_path %>



<br><br><br><br>

<h2> Geocoded Search </h2>


<%= form_tag parks_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>



