@import "bootstrap";

#indexTable {
	padding-top: 5px;
	background-color:rgba(255,255,255,0.6);
	margin-right: 200px;
	margin-top: 10px;

}

header{
  border-bottom: 1px solid green;
  //border shadow
  color: #999;
  background-color: black;
  -webkit-box-shadow: 0px 1px 1px #009933;
  -moz-box-shadow: 0px 1px 1px #009933;
  box-shadow: 0px 1px 1px #009933;
  padding-right: 20px;
  padding-left: 10px;
  position: fixed;
  width: 100%;
  margin: 0px auto;
  top: 0;
  z-index: 3;
}

header ul {
  float: right;
  list-style: none;
  padding-right: 10px;
}

header ul li {
  float: right;
  margin-left: 15px;
  padding-right:  10px;
}