<!DOCTYPE html>
<html>
<head>
  <title>UncityMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 	<link rel="shortcut icon" type="image/x-icon" href="http://i.imgur.com/2ybpKxE.jpg" sizes="16x16">
</head>
<body>

<%= yield %>

</body>
</html>
